$color-primary: #ed3833;
$color-secondary: black;
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

footer{
  font-size: 14px;
}

/**Init Font Family */
h1, h2,h3, h4, h5, h6{
  font-family: 'Arial Black';
}
p, a, button, form{
  font-family: Verdana;
}

h1{
  font-size: 3.75em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
}

h4{
  font-size: 1.2em;
}

h5{
  font-size: 1em;
}
/**End Font Family */

/** Forms */
input.form-control, textarea.form-control {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 2px;
}
input.form-control {
  max-height: 30px
}

input.form-control:focus , textarea.form-control:focus,  select.form-control:focus{
  border-bottom-color: #ed3833;
  box-shadow: none;
}

form label{
  font-weight: 600;
}
/**Forms*/

a{
  color: black;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2em;
}

.nav-link{
  color: $color-secondary !important;
  &.active{
    color: $color-primary !important;
  }
}




.nav-link:hover{
  color: #c21611 !important
}

.btn.btn-secondary:hover {
  color: $color-primary;
}

.btn.btn-primary:hover {
  color: black;
}

header{
  min-height: 75px;
}

footer p{
  margin: 0 5px;
}
.social-network{
  color: $color-primary;
  &:hover{
    color: $color-secondary;
  }
}


.form-card {
  border-radius: 10px;
  box-shadow: 0px 5px 10px -3px #777;
  -webkit-box-shadow: 0px 5px 10px -3px #777;
  -moz-box-shadow: 0px 5px 10px -3px #777;
}

.field_with_errors .message{
  color: red;
  margin-top: 0.25rem;
  font-size: 80%;
}

#video-section {
  position: relative;
  background-color: black;
  height: 80vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#video-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#video-section .container {
  position: relative;
  z-index: 2;
}

#video-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}