$color-primary: #ed3833;
$color-secondary: black;
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

footer{
  font-size: 14px;
}

/**Init Font Family */
h1, h2,h3, h4, h5, h6{
  font-family: 'Arial Black';
}
p, a, button, form{
  font-family: Verdana;
}

h1{
  font-size: 3.75em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
}

h4{
  font-size: 1.2em;
}

h5{
  font-size: 1em;
}
/**End Font Family */

a{
  color: black;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2em;
}

.nav-link{
  color: $color-secondary !important;
  &.active{
    color: $color-primary !important;
  }
}




.nav-link:hover{
  color: #c21611 !important
}

.btn.btn-secondary:hover {
  color: $color-primary;
}

.btn.btn-primary:hover {
  color: black;
}

header{
  min-height: 75px;
}

footer p{
  margin: 0 5px;
}
.social-network{
  color: $color-primary;
  &:hover{
    color: $color-secondary;
  }
}